body {
  background-color: #2c3e50;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e67e22;
}

.form,
.greetings {
  display: none;
}
